.item-list-spaced{
    display: flex;
    justify-content: space-evenly;
    padding-right: 60%;
    align-items: center;
}

.logo-image{
    width: 8em;
    height: 100%;
}
.image-smaller{
    width: 80%;
    padding: 5%;
    align-self: center;
}