.container {
    width: 50%;
    height: 50%;
  }
  
  .graph {
    width: 75%;
    height: 100%;
    float: left;
  }
  
  .filters {
    width: 25%;
    height: 100%;
    float: left;
  }
  
  html,
  body {
    height: 100%;
  }